body {
  background-color: #e9ecef;
}

.top-bar {
  margin-top: 15px;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}

.top-bar .input-name-group {
  align-items: flex-start;
  display: flex;
}

.top-bar .input-terms-group {
  margin-top: 35px;
  align-items: flex-start;
  display: flex;
}

.container {
  margin-top: 55px;
  margin-bottom: 55px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  background-color: white;
  border: 2px solid #f8f9fa;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 15px;
  width: 200px;
  padding: 15px;
}

.item .item__sku {
  margin: 15px;
  display: none;
}

.item .item__title {
  font-weight: bold;
  color: #6c757d;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #9a031e;
  border-radius: 5px;
  padding: 20px;
  border: 0;
  cursor: pointer;
  margin-top: 16px;
  padding: 5px;
}

.cart {
  height: fit-content;
  width: fit-content;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
  background-color: #f8f9fa;
  color: #6c757d;
}

.cart .cart__title {
  font-weight: bold;
  padding: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
}

.empty-cart {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 15px;
  padding: 10px;
  width: fit-content;
  align-self: center;
}

.total-price-css {
  text-align: center;
  color: #585d61;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-project {
  padding: 50px;
  color: #595a5c;
  background-color: #b7b8b9;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
text-align: end;
}